%svg-common {
	background: url("sprite.svg") no-repeat;
}

.icon-email {
	@extend %svg-common;
	background-position: 55.55555555555556% 0;
}

.icon-email-size {
	width: 16px;
	height: 13.09px;
}

.icon-fb {
	@extend %svg-common;
	background-position: 48.78048780487805% 38.5%;
}

.icon-fb-size {
	width: 11px;
	height: 16px;
}

.icon-in {
	@extend %svg-common;
	background-position: 100% 0;
}

.icon-in-size {
	width: 16px;
	height: 16px;
}

.icon-phone {
	@extend %svg-common;
	background-position: 100% 47.05882352941177%;
}

.icon-phone-size {
	width: 16px;
	height: 16px;
}

.icon-play {
	@extend %svg-common;
	background-position: 0 45.67550814002806%;
}

.icon-play-size {
	width: 17px;
	height: 19.349px;
}

.icon-user {
	@extend %svg-common;
	background-position: 0 98.08529411764708%;
}

.icon-user-size {
	width: 16px;
	height: 16px;
}

.icon-vk {
	@extend %svg-common;
	background-position: 0 0;
}

.icon-vk-size {
	width: 20px;
	height: 14px;
}

