.icon-email {
	background: url("sprite.svg") 55.55555555555556% 0 no-repeat;
}

.icon-email-size {
	width: 16px;
	height: 13.09px;
}

.icon-fb {
	background: url("sprite.svg") 48.78048780487805% 38.5% no-repeat;
}

.icon-fb-size {
	width: 11px;
	height: 16px;
}

.icon-in {
	background: url("sprite.svg") 100% 0 no-repeat;
}

.icon-in-size {
	width: 16px;
	height: 16px;
}

.icon-phone {
	background: url("sprite.svg") 100% 47.05882352941177% no-repeat;
}

.icon-phone-size {
	width: 16px;
	height: 16px;
}

.icon-play {
	background: url("sprite.svg") 0 45.67550814002806% no-repeat;
}

.icon-play-size {
	width: 17px;
	height: 19.349px;
}

.icon-user {
	background: url("sprite.svg") 0 98.08529411764708% no-repeat;
}

.icon-user-size {
	width: 16px;
	height: 16px;
}

.icon-vk {
	background: url("sprite.svg") 0 0 no-repeat;
}

.icon-vk-size {
	width: 20px;
	height: 14px;
}

