<section class="section-grid">
	<div class="container">
		<div class="grid">
			<div class="grid__item grid__item_full order-sm-6">
				<div class="box-squares">				
					<div class="box-squares__item box-squares__item_big">	
						@@include('../blocks/box.html', {	
							"bgColor" : "gray",
							"text": "<p>Гений непредвзято понимает под собой конфликт. Закон внешнего мира, очевидно, реально подчеркивает аксиоматичный здравый смысл. Культ джайнизма включает в себя поклонение Махавире и другим тиртханкарам, поэтому закон исключённого третьего индуцирует изоморфный ротор.</p>"
						})
					</div>
					<div class="box-squares__item">	
						@@include('../blocks/box.html', {	
							"bgColor" : "gray",
							"text": "<p>Чувство однократно </p>"
						})
					</div>
					<div class="box-squares__item">	
						@@include('../blocks/box.html', {	
							"bgColor" : "gray",
							"text": "<p>Морено</p>"
						})	
					</div>
				</div>
			</div>
			<div class="grid__item order-sm-1">
				@@include('../blocks/box.html', {	
					"text": "<p>Наши сотрудники</p>"
				})
			</div>
			<div class="grid__item order-sm-2">
				@@include('../blocks/box.html', {	
					"text": "<p>Просветляет понимающий тест</p>"
				})
			</div>
			<div class="grid__item order-sm-4">
				@@include('../blocks/box.html', {	
					"bgColor" : "blue",
					"text": "<p>Интроекция</p>"
				})
			</div>
			<div class="grid__item grid__item_big order-sm-3">
				@@include('../blocks/box.html', {	
					"bgColor" : "blue",
					"text": "<p>Конформизм</p>"
				})
			</div>
			<div class="grid__item order-sm-5">
				@@include('../blocks/box.html', {	
					"bgColor" : "yellow",
					"text": "<p>Наши сотрудники</p>"
				})
			</div>
			<div class="grid__item grid__item_full sm-hide">
				<div class="box-squares box-squares_reverse">				
					<div class="box-squares__item box-squares__item_big">	
						@@include('../blocks/box.html', {	
							"bgColor" : "green",
							"text": "<div class='dot-leaders-wrap'><div class='dot-leaders'><div class='dot-leaders__left'>Фамилия</div><div class='dot-leaders__right'>Мамай</div></div><div class='dot-leaders'><div class='dot-leaders__left'>Имя и отчество</div><div class='dot-leaders__right'>Станиславаленина<br/>Владимировна</div></div><div class='dot-leaders'><div class='dot-leaders__left'>Номер полиса выдан заведомо <br>ложный</div><div class='dot-leaders__right'>01354879</div></div><div class='dot-leaders'><div class='dot-leaders__left'>Дата рождения</div><div class='dot-leaders__right'>01.12.1976</div></div><div class='dot-leaders'><div class='dot-leaders__left'>Телефон</div><div class='dot-leaders__right'>+79254218069</div></div></div>"
						})
					</div>
					<div class="box-squares__item">	
						@@include('../blocks/box.html', {	
							"bgColor" : "green",
							"text": "<p>Понятие модернизации понимает механизм власти</p>"
						})
					</div>
					<div class="box-squares__item">	
						@@include('../blocks/box.html', {	
							"bgImage" : "../img/content/image.jpg",
							"text": "<p>Наши сотрудники</p>"
						})	
					</div>
				</div>
			</div>
			<div class="grid__item order-sm-9">
				@@include('../blocks/box.html', {	
					"bgColor" : "orange",
					"text": "<p>Лидерство</p>"
				})
			</div>
			<div class="grid__item grid__item_big order-sm-6">
				@@include('../blocks/box.html', {	
					"bgColor" : "orange",
					"text": "<p>Однако</p>"
				})
			</div>
			<div class="grid__item order-sm-10">
				@@include('../blocks/box.html', {	
					"bgColor" : "red",
					"text": "<p>Невероятный гений</p>"
				})
			</div>
			<div class="grid__item order-sm-7">
				@@include('../blocks/box.html', {	
					"bgColor" : "orange",
					"text": "<p>Точка перегиба</p>"
				})
			</div>
			<div class="grid__item order-sm-8">
				@@include('../blocks/box.html', {	
					"bgColor" : "purple",
					"text": "<p>Длина вектора</p>"
				})
			</div>
		</div>
	</div>
</section>