// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
	box-sizing: border-box;
	font-family: $serif;
	color: $font-basic;
}

body {
	padding: 0px;
	margin: 0px;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
	box-sizing: inherit;
	position: relative;
	outline: none;
	margin: 0;
	padding: 0;
}

html,
body {
  height: 100%;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.page-content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
	max-width: 768px;
	margin: 0 auto;
}

@include sm {
	@for $i from 99 through 1 {
		.order-sm-#{$i} {
			order: -#{100-$i};
		}
	}
	.sm-hide {
		display: none;
	}
}