/**
 * Basic typography style for copy text
 */
body {
    color: black;
    font-size: 14px;
    font-family: $serif;
    line-height: 1.42;
}

h2, .h2 {
	font-size: 24px;
	line-height: 0.8;
}

// [class^='icon-'] {
// 	background-image: url(../img/ui/icons/sprite/sprite.svg);
// }