.chat {
	padding: 0 0 30px;
	margin: 0 auto;
	width: 651px;	
	overflow-y: auto;
	box-shadow: 3px 4px 25px 8px rgba(0, 0, 0, 0.3);
	background:#fff url('../img/content/chat_bg.jpg') left top/cover no-repeat;
	&__form {
		padding: 20px 20px 0;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			border-top: 1px solid #DBDBDB;
			width: 100%;
			display: block;
		}
	}
	&__textarea {
		background-color: #fff;
		background: #FFFFFF;
		border: 1px solid #DBDBDB;
		border-radius: 4px;
		padding: 10px;
		margin-bottom: 20px;
		min-height: 120px;
		width: 100%;
		color: #696969;
		resize: none;
		font-family: inherit;
	}
	&__btn {
		background-color: $blue;
		font-size: 16px;
		display: inline-flex;
		height: 41px;
		padding: 0 22px;
		justify-content: center;
		color: #fff;
		border-radius: 20px;
		border: none;
		cursor: pointer;
		align-items: center;
	}
}


.chat-delimiter {
	text-align: center;
	width: 100%;
	margin: 20px 0;
	overflow: hidden;
	&__inner {
		text-align: center;
		display: inline-block;
		&:before {
			content: '';
			border-bottom: 1px solid #DBDBDB;
			position: absolute;
			left: 100%;
			margin-left: 28px;
			transform: translateY(-50%);
			top: 50%;
			width: 600px;
		}
		&:after {
			content: '';
			border-bottom: 1px solid #DBDBDB;
			position: absolute;
			right: 100%;
			margin-right: 28px;
			transform: translateY(-50%);
			top: 50%;
			width: 600px;

		} 
	}
}

.messages {
	max-height: 500px;
	overflow-y: auto;
	padding-top: 30px;
}

.message {
	display: flex;
	align-items: flex-start;
	padding-right: 66px;
	margin-bottom: 20px;
	margin-left: 20px;
	&__author {
		margin-right: 18px;
		flex-shrink: 0;
	}
	&__content {
		padding: 15px 15px 10px;
		background: #F1F3F5;
		border-radius: 5px;
		flex: 0 1 auto;
		// width: 100%;

		line-height: 1.7;
		&:before {
			content: '';
			position: absolute;
			right: 100%;
			top: 10px;
			border: 5px solid transparent;
			border-top: 5px solid #F1F3F5;
			border-right: 5px solid #F1F3F5;
		}
	}
	&.message_right {
	    flex-direction: row-reverse;
	    padding-right: 0;
	    padding-left: 66px;
	    margin-left: auto;
	    margin-right: 20px;
	    .message__author {
	    	margin-right: 0;
	    	margin-left: 18px;
	    }
	    .message__content:before {
    		border: 5px solid transparent;
    		border-left: 5px solid #F1F3F5;
    		border-top: 5px solid #F1F3F5;
    		left: 100%;
    		right: auto;
	    }
	}
}
