// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.header,
.footer {
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $bg-dark-gray;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	&__item {
		padding: 5px;
		width: 33.33333%;
		@include sm {
			width: 50%;
		}
		&.grid__item_full {
			width: 100%;
			padding: 0;
		}
		&.grid__item_big {
			width: 66.666%;
			@include sm {
				width: 100%;
			}
		}
	}
}

.box-squares {
	overflow: hidden;
	&__item {
		float: right;
		width: 33.333333%;
		padding: 5px;
		.box {
			min-height: inherit;
		}
		.box__inner {
			padding-bottom: 100%;
		}
		&.box-squares__item_big {
			float: left;
			width: 66.66666%;
			.box__content {
				align-items: flex-start;
				text-align: center;
				font-size: 18px;
				line-height: 1.44;
			}
		}
	}
	&.box-squares_reverse {
		.box-squares__item {
			float: left;
			&.box-squares__item_big {
				float: right;
			}
		}
	}
}

.box {
	background-color: $bg-light-gray;
	height: 100%;
	min-height: 155px;
	width: 100%;
	background-size: cover;
	overflow: hidden;
	@include sm {
		min-height: 155px;
	}
	&__inner {
		height: 100%;
		width: 100%;
		transition: filter .3s;
	}
	&__content {
		padding: 15px;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		p {
			max-width: 100%;
		}
	}
	&.box_bg-image {
		color: #fff;
		&:before {
			width: 61px;
			height: 61px;
			background-color: #fff;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			content: '!';
			color: #F55E62;
			font-size: 36px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -100%);
			z-index: 1;
			border-radius: 50%;
			transition: .3s;
			opacity: 0;
			visibility: hidden;
		}
		&:hover {
			&:before {
				transform: translate(-50%, -50%);
				visibility: visible;
				opacity: 1;
			}
			.box__inner {
				filter: blur(4px);
			}
		}
	}
	&.box_gray {
		background-color: $bg-gray;
		color: #fff;
	}
	&.box_blue {
		background-color: $bg-blue;
	}
	&.box_yellow {
		background-color: $bg-yellow;
	}
	&.box_green {
		background-color: $bg-green;
	}
	&.box_orange {
		background-color: $bg-orange;
	}
	&.box_purple {
		background-color: $bg-purple;
	}
	&.box_red {
		background-color: $bg-red;
	}
}

.dot-leaders {
	display: flex;
	align-items: flex-end;
	width: 100%;
	font-size: 14px;
	&-wrap {
		width: 100%;
		.dot-leaders {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}
	&__left {
		width: 100%;
		text-align: left;
	    overflow: hidden;
	    flex: 0 1 auto;
		&:after {
		    content: '';
		    position: absolute;
		    margin-left: 8px;
		    bottom: .35em;
		    width: 100%;
		    border-bottom: 1px dashed;
		}
	}
	&__right {
		text-align: right;
		flex-shrink: 0;
		direction: rtl; 
		overflow: hidden;
		&:after {
		    content: '';
		    position: absolute;
		    margin-right: 8px;
		    bottom: .35em;
		    width: 100%;
		    border-bottom: 1px dashed;
		}
	}
}

