/**
 * Fonts
 */
$serif: "Roboto", Georgia, sans-serif;
// $sans: "";
$serif2: "Noto Sanss", Georgia, sans-serif;

/**
 * Colors
 */

$bg-gray: #A2A9B7; // Серый фон блока
$bg-light-gray: #E8EBED; // Светло серый фон блока
$bg-dark-gray: #C4C4C4; // Темно серый фон блока
$bg-blue: #90BCE8; // Голубой фон блока
$bg-yellow: #FEBF26; // Желтый фон блока
$bg-green: #E3EBD3; // Зеленый фон блока
$bg-orange: #FFAA87; // оранжевый фон блока
$bg-red: #F55E62; // Красный фон блока
$bg-purple: #C7ABD4; // Фиолетовый фон блока
$bg-dark: #CCDFED; // Темный цвет блока

$blue: #0F54B9; // Цвет кнопки

$font-basic: #000;

