<div 
	class="
		box 
		@@if (context.bgColor) { box_@@bgColor } 
		@@if (context.bgImage) { box_bg-image }
	"
>					
	<div 
		class="box__inner"
		@@if (context.bgImage) {
			style="background-image: url(@@bgImage)" 		
		}
	>	
		<div class="box__content">
			@@text
		</div>
	</div>	
</div>